@charset "UTF-8";
/* Made By Bl4ky113 */
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto/5% 1fr 5%;
  grid-template-areas: "header  header  header " "space_1 content space_2" "footer  footer  footer ";
  overflow-x: none;
}

.header {
  padding: 1em;
  background-color: #e23e3e;
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.header .header__title {
  padding: 0.15rem 0.25rem;
  font: 800 2em "Ubuntu", sans-serif;
  color: white;
  text-align: center;
  border-bottom: 5px solid #ce2020;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .header__icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 2rem;
  border-radius: 0.5em;
  background-color: #ce2020;
  background-image: url("../img/pokeball.png");
}
.header .header__author {
  font: 400 1.5em "Gemunu Libre", sans-serif;
  color: #ce2020;
  text-align: center;
  text-decoration: underline;
}

.main {
  grid-area: content;
  background-color: #FFF;
}

.footer {
  grid-area: footer;
}

.footer {
  padding: 0.5rem 2rem;
  background-color: #ce2020;
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
}
.footer .section {
  grid-column: span 1;
  grid-row: span 1;
}
.footer .footer__title {
  padding: 0.05rem 0.5rem;
  border-bottom: 2px solid #e23e3e;
  margin: 0.5rem;
  color: white;
  font: 800 1.5em "Ubuntu", sans-serif;
}
.footer .li {
  padding: 0.25rem 0.5rem;
  border-left: 2px solid #e23e3e;
  list-style: none;
}
.footer .li .li__obj {
  color: white;
  font: 400 0.9em "Ubuntu", sans-serif;
}
.footer .li .li__obj::before {
  content: "ÔÑÅ";
  color: #e23e3e;
  font: 500 1em "FontAwesome";
}
.footer .li .li__link {
  color: white;
  font: 600 1em "Ubuntu", sans-serif;
  text-decoration: underline #e23e3e;
  transition: 500ms ease color;
}
.footer .li .li__link:hover {
  color: #e23e3e;
}